@import "../../common.scss";

.book_action_btn {
    &:not(:last-child) {
        margin: 0 1em 0 0;
    }

    &.edit {
        & svg {
            fill: $alt-color;
        }
    }

    &.remove {
        & svg {
            fill: $error-color;
        }
    }
}