@import "../../common.scss";

.books_table {
    width: 100%;
    border: none;
    border-collapse: collapse;

    &__wrapper {
        max-width: 100%;
        overflow-x: auto;
    }

    &__actions_col {
        width: 80px;
    }

    &__head {
        text-align: left;
        border-bottom: 3px solid $primary-color;
    }

    &__head > &__cell {
        padding: 16px 12px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            min-width: 60px;
        }
        &:nth-child(4) {
            min-width: 140px;
        }
        &:nth-child(5) {
            min-width: 100px;
        }
    }

    &__cell {
        padding: 12px;
    }

    &__row {
        &:only-child,
        &:nth-child(2n) {
            background:#e3f1f1;
        }
    }
}