@import "../../common.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
    color: $light-text;
    background: $primary-color;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

@include md {
    .header {
        padding: 0 30px;
    }
}